<form action="/" method="get">
  Enter a number here:
  <input type="number" name="n" required="true" min="0" step="1">
</form>

<% if params[:n] %>
  Fibonacci Numbers: <%= @fibonacci_result %>
  <br>
  Prime Numbers: <%= @prime_numbers_result.join(" ") %>
<% end %>

<br>
<br>
<%= Cache::FIBONACCI %>
