<form action="/" method="get">
  Enter a number here:
  <input type="number" name="n" required="true" min="0" step="1">
</form>

<% if params[:n] %>
  <%= @result %>
<% end %>

<br><br>
<%= Cache::FIBONACCI %>
